<style type="text/css">
	footer dl {
		margin: 0;
		padding: 0;
		list-style: none;
		outline: none;
	}
	footer dt {
		font-weight: bold;
		margin-bottom: 8px;
	}
	footer dd {
		margin: 5px 0 0 !important;
	}
</style>


<div class="container size12 padding20">
	<div class="grid fluid">
		<div class="row">
			<div class="span3">
				<dl>
					<dt>关于我们</dt>
					<dd>
						<a href="#">走着……</a>
					</dd>
					<dd>
						<a href="#">联系我们</a>
					</dd>
					<dd>
						<a href="#">合作伙伴</a>
					</dd>
				</dl>
			</div>
			<div class="span3">
				<dl>
					<dt>让我们一起走</dt>
					<dd>
						<a href="#">加入我们</a>
					</dd>
				</dl>
			</div>
			<div class="span3">
				<dl>
					<dt>网站条款</dt>
					<dd>
						<a href="#">会员条款</a>
					</dd>
					<dd>
						<a href="#">社区指南</a>
					</dd>
					<dd>
						<a href="#">版权声明</a>
					</dd>
					<dd>
						<a href="#">免责声明</a>
					</dd>
				</dl>
			</div>
			<div class="span3">
				<dl>
					<dt>帮助中心</dt>
					<dd>
						<a href="#">新手上路</a>
					</dd>
					<dd>
						<a href="#">使用帮助</a>
					</dd>
					<dd>
						<a href="#">网站地图</a>
					</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<strong>友情链接：</strong>--{{loadtimes .PageStartTime}}ms
		</div>
	</div>

</div>

