<div class="navigation-bar fixed-top">
	<div class="navigation-bar-content container">
		<span class="element size1"></span>
		<a href="/" class="element"><span class="icon-grid-view"></span><b> 走着 </b><sup><em>bate</em></sup></a>
		<span class="element-divider"></span>

		<div class="element input-element searchform">
			<!--<form>
				<div class="input-control text">
					<input type="text" readonly="readonly" name="" id="datepicker" value="" placeholder="时间" />
					<button class="btn-date" onclick="javascript:;"></button>
				</div>
				<div class="input-control text">
					<input id="target" type="text" class="span4" placeholder="目的地……">
					<button class="btn-search"></button>
				</div>
			</form>
			<div class="panel pos-abs date-panel size5">
				<div class="panel-content">
					<div class="horizontal-list">
						<ul data-target="datepicker">
							<li>元旦
							</li>
							<li>清明
							</li>
							<li>五一
							</li>
							<li>端午
							</li>
							<li>中秋
							</li>
							<li>十一
							</li>
							<li>圣诞
							</li>
							<li>春节
							</li>
							<li>暑假
							</li>
							<li>寒假
							</li>
						</ul>
					</div>

					<hr />
					<div class="horizontal-list">
						<ul data-target="datepicker">
							<li>1月
							</li>
							<li>2月
							</li>
							<li>3月
							</li>
							<li>4月
							</li>
							<li>5月
							</li>
							<li>6月
							</li>
							<li>7月
							</li>
							<li>8月
							</li>
							<li>9月
							</li>
							<li>10月
							</li>
							<li>11月
							</li>
							<li>12月
							</li>
						</ul>
					</div>
					<hr />
					<div class="horizontal-list">
						<ul data-target="datepicker">
							<li>上旬
							</li>
							<li>中旬
							</li>
							<li>下旬
							</li>
						</ul>
					</div>
					<hr />
					<div class="horizontal-list">
						<ul data-target="datepicker">
							<li>1
							</li>
							<li>2
							</li>
							<li>3
							</li>
							<li>4
							</li>
							<li>5
							</li>
							<li>6
							</li>
							<li>7
							</li>
							<li>8
							</li>
							<li>9
							</li>
							<li>10
							</li>
							<li>11
							</li>
							<li>12
							</li>
							<li>13
							</li>
							<li>14
							</li>
							<li>15
							</li>
							<li>16
							</li>
							<li>17
							</li>
							<li>18
							</li>
							<li>19
							</li>
							<li>20
							</li>
							<li>21
							</li>
							<li>22
							</li>
							<li>23
							</li>
							<li>24
							</li>
							<li>25
							</li>
							<li>26
							</li>
							<li>27
							</li>
							<li>28
							</li>
							<li>29
							</li>
							<li>30
							</li>
							<li>31
							</li>
						</ul>
					</div>
					<hr />
					<div class="horizontal-list">
						<ul data-target="datepicker">
							<li>春季
							</li>
							<li>夏季
							</li>
							<li>秋季
							</li>
							<li>冬季
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel pos-abs target-panel size5">
				<div class="panel-content">
					<div class="horizontal-list">
						<ul data-target="target">
							<li>东北
							</li>
							<li>华北
							</li>
							<li>华南
							</li>
							<li>东南
							</li>
							<li>西北
							</li>
							<li>西南
							</li>
							<li>中部
							</li>
						</ul>
					</div>
					<hr />
					<div class="horizontal-list">
						<ul data-target="target">
							<li>广州
							</li>
							<li>大连
							</li>
							<li>北京
							</li>
							<li>上海
							</li>
							<li>昆明
							</li>
							<li>西藏
							</li>
							<li>张家界
							</li>
							<li>……
							</li>
						</ul>
					</div>
					<hr />
					<div class="horizontal-list">
						<ul data-target="target">
							<li>江南水乡
							</li>
							<li>黄土高原
							</li>
							<li>……
							</li>
						</ul>
					</div>
				</div>
			</div>-->
		</div>
		<span class="element place-right size1"></span>
		<div class="place-right pos-rel">
			<button class="dropdown-list-toggle element image-button image-left">
				Snow Lin
				<img src="http://tp2.sinaimg.cn/1771925961/50/5705822772/1">
			</button>
			<ul class="place-top-right dropdown-list border">
				<li><a href="#"><i class="icon- on-left">　</i>我的主页</a>
				</li>
				<li><a href="#"><i class="icon- on-left">　</i>私信</a>
				</li>
				<li><a href="#"><i class="icon- on-left">　</i>设置</a>
				</li>
				<li><a href="#"><i class="icon-exit on-left"></i>退出</a>
				</li>
			</ul>
		</div>

	</div>
</div>
<script type="text/javascript">
$(function(){
	/*
	 * 时间和目的地选择
	 */
	// 时间
	$('.searchform').on('mouseenter','#datepicker',function(){
		var _this = $(this).parent(),
			_panel = _this.parents('form').siblings('.panel.date-panel').css({
				'left': _this.position().left,
				'top': _this.height() + parseInt(_this.parents('.element').css('padding')) + 1
			});
		_panel.stop().slideDown(snow.speed).siblings('.pop-panel').hide();
	});
	
	// 目的地
	$('.searchform').on('mouseenter','#target',function(){
		var _this = $(this).parent(),
			_panel = _this.parents('form').siblings('.panel.target-panel').css({
				'left': _this.position().left,
				'top': _this.height() + parseInt(_this.parents('.element').css('padding')) + 1
			});
		_panel.stop().slideDown(snow.speed).siblings('.pop-panel').hide();
	});
	
});
</script>