<div class="navigation-bar fixed-top">
	<div class="navigation-bar-content container padding15" style="height: 80px;">
		<span class="element size1"></span>
		<a href="/" class="element"><span class="icon-grid-view"></span><b> 走着 </b><sup><em>bate</em></sup></a>
		<span class="element-divider"></span>

		<div class="element input-element searchform" data-load="_search.html">
		</div>
		<span class="element place-right size1"></span>
		<div id="account" class="place-right pos-rel">

		</div>

	</div>
</div>