<div id="checkin-dialog" class="metro window-overlay" style="background-color: rgba(0, 0, 0, 0.701961);display: none;">
	<div class="window flat shadow" style="overflow: hidden; position: fixed; z-index: 1050;">
		<div class="caption">
			<button class="btn-close"></button> <i class="icon icon-key-2 fg-orange"></i>
			<div class="title text-bold">用户登录</div>
		</div>
		<div class="content" style="padding: 70px 40px 20px;width:25em;">
			<form class="user-input">
				<div class="input-control text">
					<input type="text" name="login" placeholder="账户名" style="padding-left: 2.6em;"> <i class="icon-user pos-abs bg-gray fg-white" style=" height: 100%; top: 0;left:0; padding: 6px; font-size: 1.4em; " title="账号"></i>
				</div>
				<div class="input-control password">
					<input type="password" name="password" placeholder="密码" style="padding-left: 2.6em;">
					<i class="icon-unlocked pos-abs bg-gray fg-white" style=" height: 100%; top: 0;left:0; padding: 6px; font-size: 1.4em; " title="密码"></i>
				</div>
				<div class="input-control" style="margin:1.5em 0;"></div>
				<div class="input-control checkbox">
					<label>
						<input type="checkbox" name="c1" checked="">
						<span class="check"></span>
						自动登录
					</label>
				</div>
				<a href="#" style="margin-left: 2em;">忘记密码？</a>
				<div class="form-actions">
					<button class="button primary" style="width: 100%;height:3em;">登录</button>
				</div>
				<div class="form-actions">
					<div class="text-muted" style="margin-top:1.5em;">使用合作网站账户登录:</div>
					<div class="horizontal-list">
						<ul>
							<li class="padding5 margin5" id="qqLogin">QQ</li>
							<li class="padding5 margin5">微博</li>
						</ul>

					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$("#qqLogin").click(function() {
		//QC.Login.showPopup();
		window.open('/connect/qq_login','sign_dialog','width=600,height=420,menubar=no,scrollbars=yes, resizable=yes,status=yes,titlebar=no,toolbar=no,location=yes');
	});

	function open_login(u){
		snow.account.nickName = u.Nickname;
		snow.account.gender = u.Gender;
		snow.account.avatar = u.Avatar_1;
		snow.account.openFrom = u.From;
		snow.account.openId = u.OpenId;
		snow.account.accessToken = u.Token;

		checkin();
		$("#checkin-dialog").fadeOut(snow.speed);

		//记录登录状态
		$.get(snow.api.signTrace,{
			form:u.From,
			token:u.Token,
			openId:u.OpenId,
			nickName:u.Nickname,
			gender:u.Gender,
			refresh:u.Refresh,
			avatar_1:u.Avatar_1,
			avatar_2:u.Avatar_2
		},function(d){
			log(d);
		});
	}
</script>