<script type="text/javascript">
	/*
	 * log
	 */
	function log() {
		console.log(arguments);
	};
	
	// 动画速度
	snow.speed = 300;
	snow.date = new Date();
	snow.year = snow.date.getYear();
	snow.month = snow.date.getMonth() + 1;
	snow.day = snow.date.getDate();
	snow.account = {
		nickName:$.cookie('nickname'),
		avatar:$.cookie('avatar'),
		openFrom:$.cookie('from'),
		accessToken:$.cookie('token')
	};
	snow.checkin = $.cookie('_snow_token') && $.cookie('_snow_token').length>0;
	snow.api={
		signUp:'/signUp'
		,signIn:'/signIn'
		,signOut:'/signOut'
		,signTrace:'/connect/signtrace'
	};

	/*
	 * header位置重绘
	 */
	function headerPosition() {
		if ($(window).scrollTop() > $('header').height()) {
			$("header .navigation-bar").addClass("shadow");
		} else {
			$("header .navigation-bar").removeClass("shadow");
		}
	};
	// 侧边工具栏位置重绘
	function toolsPosition(){

	};
	/*
	 * footer位置重绘
	 */
	function footerPosition() {
		$('footer').removeClass('pos-fix');

		if ($(window).height() < $(document).height()) {
			$('footer').removeClass('pos-fix');
		} else {
			$('footer').addClass('pos-fix');
		}
	};
	/*
	 * 页面数据拉取
	 */
	function dataLoading() {
		$('[data-load]').each(function() {
			var _this = $(this),
				_data = _this.data('load');
			if (_data && _data.length > 0) {
				_this.load('/static/inc/' + _this.data('load'));
			}
		});
	};

	/*
	 * 签入
	 */
	function checkin() {
		var _checkin = [];
		_checkin.push('<button class="dropdown-list-toggle element image-button image-left">');
		_checkin.push(snow.account.nickName);
		_checkin.push('<img src="'+snow.account.avatar+'">');
		_checkin.push('</button>');
		_checkin.push('<ul class="place-top-right dropdown-list border">');
		_checkin.push('<li><a href="#"><i class="icon- on-left">　</i>我的主页</a></li>');
		_checkin.push('<li><a href="#"><i class="icon- on-left">　</i>私信</a></li>');
		_checkin.push('<li><a href="#"><i class="icon- on-left">　</i>设置</a></li>');
		_checkin.push('<li id="checkout"><a href="#"><i class="icon-exit on-left"></i>退出</a></li></ul>');
		$("#account").empty().html(_checkin.join(''));
		//
	};
	/*
	 * 签出
	 */
	function checkout() {
		var _checkout = [];
		_checkout.push('<button id="checkin" class="element image-button">');
		_checkout.push('登录');
		//_checkout.push('<img src="http://tp2.sinaimg.cn/1771925961/50/5705822772/1">');
		_checkout.push('</button>');
		_checkout.push('<button id="register" class="element image-button">');
		_checkout.push('注册');
		_checkout.push('</button>');
		
		$("#account").empty().html(_checkout.join(''));
	};
	/*
	* 解决传统浏览器不支持placeholder问题
	*/
	function placeholder() {
	   
	    if (!('placeholder' in document.createElement('input'))) {
	        
	        $('input[placeholder],textarea[placeholder]').each(function () {
	            
	            var that = $(this),text = that.attr('placeholder');
				
	            if (that.val() === "") {
	                that.val(text).addClass('placeholder');
	            }
	            that.focus(function () {
	                if (that.val() === text) {
	                    that.val("").removeClass('placeholder');
	                }
	            }).blur(function () {
	                if (that.val() === "") {
	                    that.val(text).addClass('placeholder');
	                }
	            }).closest('form').submit(function () {
	                if (that.val() === text) {
	                    that.val('');
	                }
	            });
	        });
	    }
	};
	
	$(function() {
		
		setTimeout(function() {
			headerPosition();
			footerPosition();
			// 拉取数据
			dataLoading();
			// 解决传统浏览器不支持placeholder问题
			placeholder();
		}, 100);
		// 选中
		$('body').on('click', '.horizontal-list ul li', function() {
			var _this = $(this).addClass('active');
			_this.siblings().removeClass('active');
		});

		//
		$('.searchform').mouseleave(function() {
			$(this).find('.pop-panel').stop().slideUp(snow.speed);
		});

		/*
		 * 按钮组--单选
		 */
		$('body').on('click', 'div.button-set button', function() {
			$(this).addClass('active').siblings().removeClass('active');
		});
		/*
		 * checkin checkout
		 */
		$('header').on('click', '#checkin', function() {
			var _dlg = $("#checkin-dialog").fadeIn(snow.speed);
			var _win = _dlg.children('.window:first');
			_win.css({
				left: (_dlg.width() - _win.width()) / 2
			}).animate({top: (_dlg.height() - _win.height()) / 2},snow.speed);
			//
			_win.find('.checkin').show();
			_win.find('#btn-login').text('登录').data('role','0');
		}).on('click','button.btn-close',function(){
			var _win= $(this).parents('.window')
			_win.animate({top:-_win.height()},snow.speed);
			_win.queue(function(){
				_win.parents("#checkin-dialog").fadeOut(snow.speed);
				$.dequeue(this)
			});

		}).on('click', '#checkout', function() {
			$.post(snow.api.signOut,function(d){
				if (d.ok) {
					checkout();
				};
			});
		}).on('click','#register',function(){
			var _dlg = $("#checkin-dialog").fadeIn(snow.speed);
			var _win = _dlg.children('.window:first');
			_win.css({
				left: (_dlg.width() - _win.width()) / 2
			}).animate({top: (_dlg.height() - _win.height()) / 2},snow.speed);
			//
			_win.find('.checkin').hide();
			_win.find('#btn-login').text('注册').data('role','1');
			/*
			 * 下拉控制菜单
			 */
		}).on('mouseenter', '.dropdown-list-toggle', function() {
			var _this = $(this);
			_this.siblings('.dropdown-list').css('minWidth', _this.width()).stop().slideDown(snow.speed);
		}).on('mouseleave', '#account', function() {
			$(this).find('.dropdown-list').stop().slideUp(snow.speed);
		});

		/*
		 * 检查登录状态
		 */
		if (snow.checkin) {
			checkin();
		} else {
			checkout();
		}
	});

	$(window).scroll(function() {
		headerPosition();
	}).resize(function() {
		footerPosition();
	});

	//METRO_AUTO_REINIT = true;
</script>