<script type="text/javascript">
	// 动画速度
	snow.speed = 300;

	function headerPosition() {
		if ($(window).scrollTop() > $('header').height()) {
			$("header .navigation-bar")
				.addClass("fixed-top")
				.addClass(" shadow");
		} else {
			$("header .navigation-bar")
				.removeClass("fixed-top")
				.removeClass(" shadow");
		}
	}

	$(function() {
		setTimeout(function() {
			headerPosition();
		}, 100);
		/*
		 * 时间和目的地选择
		 */
		// 时间
		$('#datepicker').parent().mouseenter(function() {
			var _panel = $('.panel.date-panel').css('left',$(this).position().left + parseInt($(this).parents('.element').css('paddingLeft')));
			_panel.stop().slideDown(snow.speed).siblings('.panel').hide();
		});
		// 选中
		$('.horizontal-list ul').on('click', 'li', function() {
			var _this = $(this).addClass('active');
			_this.siblings().removeClass('active');
			$('#'+_this.parent().data('target')).val(_this.text());
		});
		// 目的地
		$('#target').parent().mouseenter(function() {
			var _panel = $('.panel.target-panel').css('left',$(this).position().left+ parseInt($(this).parents('.element').css('paddingLeft')));
			_panel.stop().slideDown(snow.speed).siblings('.panel').hide();
		});
		//
		$('header .form').mouseleave(function(){
			$(this).find('.panel').stop().slideUp(snow.speed)
		})
		/*
		 * 下拉控制菜单
		 */
		$('.dropdown-list-toggle').mouseenter(function(){
			var _this=$(this);
			_this.siblings('.dropdown-list').css('minWidth',_this.width()).stop().slideDown(snow.speed);
		}).parent().mouseleave(function(){
			$(this).find('.dropdown-list').stop().slideUp(snow.speed);
		});
	})

	$(window).scroll(function() {
		headerPosition();
	});

	METRO_AUTO_REINIT = true;
</script>