
<link rel="stylesheet" type="text/css" href="/static/css/jquery.tagsinput.css"/>
<script src="/static/js/jquery.tagsinput.min.js" type="text/javascript" charset="utf-8"></script>

<div class="grid fluid">
	<div class="row">
		<div class="container span5" style="padding:0 40px 0 80px">
			<div class="grid fluid">
				<form id="question-form">
				<div class="row horizontal-list">
					<dl>
						<dt><h2>线路求助</h2></dt>
						<dd style="margin-top: 23px;"></dd>
					</dl>
				</div>
				<div class="row input-control text">
					<input type="text" class="span5" placeholder="时间" name="when" id="question-when" value="" />
					<input type="text" class="span7" placeholder="目的地" name="where" id="question-where" value="" />
				</div>
				<div class="row input-control textarea">
					<textarea class="" placeholder="详细描述" name="intro" id="question-intro" style="resize:none;height:8em;"></textarea>
				</div>
				<div class="row input-control">
					<input type="text" class="" placeholder="新标签" name="tags" id="question-tags" value="" />
				</div>
				<div class="row input-control">
					<input type="hidden" name="id" id="question-id" value="0" />
				</div>
				<div class="row input-control text">
					<button type="button" class="span4 primary" name="" id="question-post">发布</button>
				</div>
				</form>
			</div>
		</div>
		<div class="container span7" style="padding:0 80px 0 40px">
			<div class="row horizontal-list">
					<dl>
						<dt><h2>相似问题</h2></dt>
						<dd style="margin-top: 23px;"></dd>
					</dl>
				</div>
			<div id="question-list" class="listview">
				<!-- 这里读入求助列表 -->
			</div>
		</div>
	</div>
</div>

<div id="scroll-tools" class="toolbar">
	<button class="scroll-top">
		<i class="icon-arrow-up-5"></i>
	</button>
	<button class="btnAsk">提问</button>
	<button class="scroll-bottom">
		<i class="icon-arrow-down-5"></i>
	</button>
</div>

<script type="text/javascript">
	var q_form = $('#question-form'),
		q_list = $('#question-list');

	var _ask_tags = $('#question-tags').tagsInput({
		width:'auto',
		height:'auto',
		placeholderColor:'#999',
		defaultText:'新标签'
	});

	$('#scroll-tools').on('click','button.btnAsk',function(){
		sonw.go(snow.api.questionAsk);
	});
	
	$('#question-post').click(function(){
		$.post(snow.api.questionSave,q_form.serialize(),function(d){
			//重置表单
			q_form[0].reset();
			// 重置标签插件
			_ask_tags.importTags("");
		});
	});


	q_list.on('click','a.question-edit',function(){
		$.post(snow.api.questionGet,{id:$(this).data('id')},function(d){
			if (d.ok) {
				$('#question-id').val(d.data.id);
				$('#question-when').val(d.data.when);
				$('#question-where').val(d.data.where);
				$('#question-intro').val(d.data.intro);
				_ask_tags.importTags(d.data.tags);
			};
		});
	});

	$(function(){
		// 读取求助列表
		$.post(snow.api.questionList,{},function(d){
			if (d.ok) {
				// 清空
				q_list.empty();
				$.each(d.data,function(i,q){

					var _list = ['<div class="list bg-lightBlue fg-white">'];
					_list.push('<div class="list-content">');
					_list.push('<img src="'+snow.account.avatar+'" class="icon" />');
					_list.push('<div class="data">');
					_list.push('<div class="list-title"><span>'+q.when+'</span> <span>'+q.where+'</span></div>');

					_list.push('<div style="margin:10px 0;">'+q.intro+'</div><div class="list-remark"><small><span class="icon-tag"></span>');
					// 分拆标签
					var tags = q.tags.split(',');
					for (var i = tags.length - 1; i >= 0; i--) {
						_list.push('<span class="margin5">'+tags[i]+'</span>');
					};
					_list.push('</small>');

					_list.push('<span class="place-right"><a href="javascript:;" data-id="'+q.id+'" class="question-edit fg-white" title="修改"><i class="icon-pencil"></i></a></span>');
					_list.push('</div>');

					_list.push('</div>');
					_list.push('</div>');
					_list.push('</div>');

					q_list.append(_list.join(''));

				});
			};
		});
	});
</script>