<style type="text/css">
	.index-search {
		position: relative;
		width: 100%;
		min-width: 980px;
		background: #000 url(/static/images/qyer.jpg) no-repeat center top;
		background-size: cover;
		height: 400px;
		margin: 0 auto;
		padding-top: 160px;
	}
	.index-search-box {
		position: relative;
		width: 645px;
		margin: 0 auto;
		padding: 20px;
		border-radius: 3px;
		background: rgba(0, 0, 0, 0.6);
		color: #fff;
	}
	.input-font-size {
		font-size: 1.5em;
	}
	.font-small {
		font-size: .8em;
	}
	.font-big {
		font-size: 1.2em;
	}
	.travel-point {
		cursor: pointer;
	}
</style>
<div class="index-search">
	<div class="index-search-box element searchform">
		<div data-load="_search.html"></div>
		<div class="horizontal-list">
			<dl>
				<dt>热门目的地：</dt>
				<dd>杭州</dd>
				<dd>广州</dd>
			</dl>
		</div>
	</div>

	<div class="horizontal-list place-bottom-right fg-white font-small">
		<dl>
			<dd>2014-10-21</dd>
			<dd>北京</dd>
			<dd>@哈利蔺特</dd>
		</dl>
	</div>
</div>

<div class="search-result container" style="max-width:1000px;">
	<div class="grid fluid">
		<div class="row horizontal-list">
			<dl>
				<dt><h2>热门线路</h2></dt>
				<dd style="margin-top: 20px;">最新线路</dd>
			</dl>
		</div>
		<div class="row">
			<div class="span2">
				span2
			</div>
			<div class="span4">
				span4
			</div>
		</div>
	</div>
</div>

<div id="scroll-tools" class="toolbar">
	<button class="scroll-top">
		<i class="icon-arrow-up-5"></i>
	</button>
	<button class="btnAsk">提问</button>
	<button class="scroll-bottom">
		<i class="icon-arrow-down-5"></i>
	</button>
</div>
<script type="text/javascript">
	$(function() {
		var _tools = $('#scroll-tools'),
			_result = $('div.search-result'),
			_offset = _result.offset();

		_tools.css({
			bottom: $('#footer').height()
		});
		//
		$(window).scroll(function() {
			var _scrollTop = $(document).scrollTop();
			// 有滚动
			if (_scrollTop > 0) {
				_tools.find('button.scroll-top').css({
					visibility: 'visible'
				});

			} else {
				_tools.find('button.scroll-top').css({
					visibility: 'hidden'
				});
			}
			// 滚动到底部
			if (_scrollTop + $(window).height() == $(document).height()) {
				_tools.find('button.scroll-bottom').css({
					visibility: 'hidden'
				});
			} else {
				_tools.find('button.scroll-bottom').css({
					visibility: 'visible'
				});
			}
		}).resize(function() {
			_tools.css({
				left: _result.width() + _result.offset().left + parseInt(_result.css('padding'))
			});
			// 滚动到底部
			if ($(document).scrollTop() + $(window).height() == $(document).height()) {
				_tools.find('button.scroll-bottom').css({
					visibility: 'hidden'
				});
			} else {
				_tools.find('button.scroll-bottom').css({
					visibility: 'visible'
				});
			}
		}).resize().scroll();
		// 向上滚动
		_tools.find('button.scroll-top').click(function() {
			$(window).scrollTop(0);
		});
		// 向下滚动
		_tools.find('button.scroll-bottom').click(function() {
			$(window).scrollTop($(document).height());
		});
		// 提问
		_tools.find('button.btnAsk').click(function() {
			snow.go(snow.api.questionAsk);
		});

	});
</script>