<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101036556" data-redirecturi="http://www.4xiaozu.com/connect/qq" charset="utf-8"></script>
		<script type="text/javascript">
		window.opener.
//			QC.Login({},
//				function(u, o) {
//					if (u.ret != 0) {
//						return;
//					};
//
//					snow.account.nickName = u.nickname;
//					snow.account.avatar = u.figureurl_1;
//
//					checkin(snow.account.nickName, snow.account.avatar);
//					$("#checkin-dialog").fadeOut(snow.speed);
//
//					QC.Login.getMe(function(openId, accessToken) {
//						snow.account.openFrom = 'qq';
//						snow.account.openId = openId;
//						snow.account.accessToken = accessToken;
//						//检查并写入新账户
//						//register();
//					});
//				},
//				function() {
//					checkout();
//				}
//			);
//			
//			QC.Login.showPopup();
		</script>
	</head>

	<body>
	</body>

</html>